In [1]:
import pandas as pd
import numpy as np

In [3]:
# Creating a 1D list
my_series = [5, 9, 15, 17, 28, 65]

my_var = pd.Series(my_series)

my_var

0     5
1     9
2    15
3    17
4    28
5    65
dtype: int64

In [5]:
# Printing individual values
my_var[4]

28

In [7]:
# Labels using index argument
my_index = ["A", "B", "C", "D", "E", "F"]

my_var2 = pd.Series(my_series, my_index)

my_var2

A     5
B     9
C    15
D    17
E    28
F    65
dtype: int64

In [8]:
my_var2["C"]

15

In [10]:
# Key Value Dictionary
phones = {"Samsung": 28, "Xiaomi": 65, "Apple": 58}

my_var3 = pd.Series(phones)

my_var3

Samsung    28
Xiaomi     65
Apple      58
dtype: int64

In [11]:
my_var3["Xiaomi"]

65