In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
my_data = randn(4,3)
my_rows = ["A", "B", "C", "D"]
my_cols = ["Q", "W", "E"]

In [4]:
# Create DataFrame
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

          Q         W         E
A -0.285614  0.324594 -0.418144
B  0.376238  1.267091 -1.175231
C  0.909326  0.279852  1.365772
D  0.384791 -0.014777  0.430497