In [17]:
import pandas as pd
import numpy as np

my_table = pd.read_csv("dog_data.csv")
my_table

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [18]:
# Count Distinct values - Descending/Ascending, Counting NaNs
my_table['DogName'].value_counts(ascending=False, dropna=False)

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
RAMBO       1
CHOOKIE     1
AMY         1
DEE DEE     1
GRIFFIN     1
Name: count, Length: 1429, dtype: int64

In [19]:
# Getting frequency
my_table["DogName"].value_counts(normalize=True)

DogName
LUCY       0.013114
BELLA      0.011240
BAILEY     0.010865
BUDDY      0.010865
DAISY      0.009741
             ...
CHOOKIE    0.000375
AMY        0.000375
DEE DEE    0.000375
KAYLIE     0.000375
GRIFFIN    0.000375
Name: proportion, Length: 1428, dtype: float64

In [20]:
# Get specific item count
my_table["Color"].value_counts()['WHITE']

226

In [21]:
# Count unique values - Size
my_table.groupby("Color").size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [22]:
# Count unique values - Count
my_table.groupby("Color").count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]